# 1. Ignoruj absolutnie wszystko (pliki i foldery)
*

# 2. Zezwalaj na pliki kodu w głównym katalogu
!*.py
!*.sh
!*.bat

# 3. Zezwalaj na podstawowe pliki GitHuba (bardzo zalecane!)
!.gitignore
!LICENSE
!README.md